<?php
use yii\helpers\Url;
?>
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<div>
<p>安全设置</p>
	<ul class="nav nav-tabs">
	  <li class="active tab"><a href="javascript:;" >验证码</a></li>
	  <li class="tab"><a href="javascript:;">关键字过滤</a></li>
	  <li class="tab"><a href="javascript:;">禁止IP</a></li>
	</ul>
</div>	

<div class="tab1" ><? include('sys_captcha.html') ?></div>
<div class="tab1" style="display:none"><? include('sys_filter.html') ?></div>
<div class="tab1" style="display:none"><? include('sys_ip.html') ?></div>

</body>
</html>
<script>
	//设置点击事件触发标签页效果
	$(document).on('click','.tab',function()
	{
		var _this = $(this);
		_this.siblings().removeAttr('class','active').attr('class','tab');
		_this.attr('class','active tab');
		$('.tab1').eq(_this.index()).removeAttr('style');
		$('.tab1').eq(_this.index()).siblings('.tab1').attr('style','display:none');
		//$('.tab1').eq(_this.index()).show(200).siblings('.tab1').hide();
	})
</script>